body{
  
  
  background-color: #f8f1f1;


}

/* .container {
  width: 400px;
  max-width: 400px;
  margin: 18px;
  padding: 32px;
  background-color: white;
}


.container,
.form_input,
.form_button {
  font: 500;
  font-family: sans-serif;

} */
/* 
.form >*:first-child{
  margin-top: 0;
}

.form >*:last-child{
  margin-bottom: 0;
}

.form_message {
  text-align: center;
  margin-bottom: 18px;
}

.form_message_error {
  color: red;
}

.form_message_success {
  color: green;
}

.form_title {
  margin-bottom: 32px;
  text-align: center;
}

.form_input-grp {
  margin-bottom: 18px;
}

.form_input {
  display: block;
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border: #009579;
  outline: none;
  background-color: #eeeeee;
  transition: background 0.2s, border-color 0.2s;
}

.form_input:focus {
  border-color: #009579;
  background: white;
}

.form_input-error {
  color: red;
  border-color: red;
}

.form_input-error-message {
  margin-top: 9px;
} */

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #19456b;
}


nav{
    padding: 5% 7%;
}

.navbar-brand{
  font-size: 2rem;
  color: #16c79a;
}

.container-fluid{
  padding:3% 35% 6%;
}


.custom-toggler {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='-3.5 2 36 27' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(22, 199, 154)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  border-color: #16c79a;
  color: #16c79a;
}
.custom-navbar {
  background-color: #19456b;
  color: #16c79a;
}

.custom-navbar a {
  color: #16c79a;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.custom-navbar a:hover {
  color: #f8f1f1;
}

.custom-navbar a:active {
    color: #19456b;
  }

.custom-dropdown-menu {
    background-color: #19456b;
}

.custom-dropdown-menu .dropdown-item:hover{
    background-color: #16c79a;
    color: #f8f1f1;
}

.dropdown-toggle::after {
  display: none !important;
}

form{
  display: inline-block;
  margin-top: 20px;
  width: 40%;
}

@media (max-width: 900px) {

  form{
    width: 50%;
  }
  
}