/* Basic style elements */
body {
  background-color: #dae1e7;
  font-family: "Work Sans", sans-serif;
}

.h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #112031;
}

.page-title {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 20px;
  text-align: center;
}

.centreNamepage- {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  margin-top: 20px;
  text-align: center;
}

/* Drop dowm menu for centre in signUp page */

.dropdown-toggle{
  background-color: white;
  color: #112031;
  font-size: 1.1rem;
  margin-top: 1px;
}

.dropdown-menu{
  background-color: #dae1e7;
  margin: auto;
  padding: 10px;
}

.dropdown-item {
  display: block;
  font-size: 15px;
  color:#112031;
  margin-bottom: 5px;
  text-align: center;
}

.dropdown-menu a:hover{
  color: #000000;
  font-weight: bold
}

.instruction {
  font-family: "Work Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  margin: 20px 0 30px 0;
}

tr:first-child th {
  background: #112031;
  color: #d4ecdd;
}

.table {
  font-size: 1.1rem;
}

.table i {
  color: #152d35;
}

/* Navigation bar style elements */

nav {
  padding: 5% 7%;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: 700;
  color: #d4ecdd;
}

.custom-toggler {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='-3.5 2 36 27' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(22, 199, 154)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  border-color: #d4ecdd;
  color: #d4ecdd;
}
.custom-navbar {
  background-color: #112031;
}

.custom-navbar a {
  color: #d4ecdd;
  font-weight: 500;
}

.custom-navbar a:hover {
  color: #f8f1f1;
}

.custom-navbar a:active {
  color: #19456b;
}

.custom-dropdown-menu {
  background-color: #152d35;
}

.custom-dropdown-menu .dropdown-item:hover {
  background-color: #345b63;
  color: #f8f1f1;
}

.dropdown-toggle::after {
  display: none !important;
}




/* Popup content */
.center {
  position: absolute;
  top: 50%;
  left: 50%;
}

.popup-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
.popup {
  position: absolute;
  top: -150%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.15);
  width: 650px;
  height: 450px;
  background: #f5f5f5;
  z-index: 2;
  opacity: 0;
  box-shadow: 10px 10px 5px #112031;
  border-radius: 20px;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}
body.showPopUp .popup-overlay {
  display: block;
}
body.showPopUp .popup {
  top: 50%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.popup .popup-close {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 40px;
  height: 40px;
  background: #555;
  color: #f5f5f5;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.popup .header {

  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #112031;
  margin: 20px 0px;
}

.popup .information{
  display: block;
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  color: #222;
  padding: 0%;

}

/* Popup content for record vaccine batch */

.popup .form .element {
  padding: 8px 20px;
}
.popup .form .element label {
  display: block;
  font-size: 14px;
  color: #222;
  margin-bottom: 5px;
}
.popup .form .element input {
  width: 100%;
  padding: 8px 10px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #aaa;
  background: #eee;
  border-radius: 5px;
}
.popup .form .element button.record{
  margin: auto;
  margin-top: 0px;
  display: block;
  width: 30%;
  padding: 5px 0px;
  text-transform: uppercase;
  outline: none;
  border: none;
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  background: #112031;
  color: #d4ecdd;
}

/* Popup content for show healthcare centre */

.popup .element_1 label {
  display: block;
  font-size: 20px;
  color: #222;
  margin-bottom: 5px;
  text-align: center;
}

.popup .element_1 h4 {
  display: block;
  font-size: 30px;
  color: #112031;
  margin-bottom: 50px;
  text-align: center;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.popup .element_1 button.selectCentre{
  margin: auto;
  margin-top: 100px;
  display: block;
  width: 30%;
  padding: 5px 0px;
  text-transform: uppercase;
  outline: none;
  border: none;
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  background: #112031;
  color: #d4ecdd;
}


.login-form {
  display: inline-block;
  width: 40%;
}

@media (max-width: 900px) {
  .login-form {
    width: 50%;
  }
}
