<<<<<<< Updated upstream
body {
  color: #f8f1f1;
}

.h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
}

nav{
    padding: 5% 7%;
}


.custom-toggler {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='-3.5 2 36 27' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(22, 199, 154)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  border-color: #16c79a;
  color: #16c79a;
}
.custom-navbar {
  background-color: #19456b;
  color: #16c79a;
}

.custom-navbar a {
  color: #16c79a;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.custom-navbar a:hover {
  color: #f8f1f1;
}

.custom-navbar a:active {
    color: #19456b;
  }

.custom-dropdown-menu {
    background-color: #19456b;
}

.custom-dropdown-menu .dropdown-item:hover{
    background-color: #16c79a;
    color: #f8f1f1;
}
=======
body {
  color: #f8f1f1;
}

.h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
}

nav{
    padding: 5% 7%;
}


.custom-toggler {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='-3.5 2 36 27' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(22, 199, 154)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  border-color: #16c79a;
  color: #16c79a;
}
.custom-navbar {
  background-color: #19456b;
  color: #16c79a;
}

.custom-navbar a {
  color: #16c79a;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.custom-navbar a:hover {
  color: #f8f1f1;
}

.custom-navbar a:active {
    color: #19456b;
  }

.custom-dropdown-menu {
    background-color: #19456b;
}

.custom-dropdown-menu .dropdown-item:hover{
    background-color: #16c79a;
    color: #f8f1f1;
}
>>>>>>> Stashed changes
